In [3]:
import pandas as pd 
  
# creating a dataframe 
df = pd.DataFrame({'Name': {0: 'John', 1: 'Bob', 2: 'Shiela'}, 
                   'Course': {0: 'Masters', 1: 'Graduate', 2: 'Graduate'}, 
                   'Age': {0: 27, 1: 23, 2: 21}}) 
df

     Name    Course  Age
0    John   Masters   27
1     Bob  Graduate   23
2  Shiela  Graduate   21

In [2]:
# Name is id_vars and Course is value_vars 
pd.melt(df, id_vars =['Name'], value_vars =['Course'])

     Name variable     value
0    John   Course   Masters
1     Bob   Course  Graduate
2  Shiela   Course  Graduate

In [3]:
# multiple unpivot columns 
pd.melt(df, id_vars =['Name'], value_vars =['Course', 'Age'])

     Name variable     value
0    John   Course   Masters
1     Bob   Course  Graduate
2  Shiela   Course  Graduate
3    John      Age        27
4     Bob      Age        23
5  Shiela      Age        21

In [4]:
# Names of ‘variable’ and ‘value’ columns can be customized 
pd.melt(df, id_vars =['Name'], value_vars =['Course'], 
              var_name ='ChangedVarname', value_name ='ChangedValname')

     Name ChangedVarname ChangedValname
0    John         Course        Masters
1     Bob         Course       Graduate
2  Shiela         Course       Graduate

In [20]:

df2['Age'] = pd.cut(df["Age"],3)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 3 columns):
Name      3 non-null object
Course    3 non-null object
Age       3 non-null int64
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [18]:
df2.groupby(df2['Age']).count()

ValueError: Length of grouper (3) and axis (4) must be same length